* {
    margin: 0;
    padding: 0;
    font-family: Consolas,monaco,monospace; 
}
body {
    height: 100vh;
    background-color: rgb(12, 12, 12);
}
#outer {
    position: relative;
}
.crt {
    position: relative;
    height: 100%;
    width: 100%;
}
#loader {
    font-size: 12px;
}
#initialTexts {
    color: #41FF00;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 8px;
}
#container {
    color: #41FF00;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.welcome {
    color: #41FF00;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type=text] {
    color: #41FF00;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px dashed #41FF00;
    background: none;
    padding: 2px;
}
input[type=text]:focus {
    border-bottom: 1px dashed #41FF00;
}
#teamIDForm {
    visibility: hidden;
    width: 500px;
}
#passphraseLabel, #passphrase, #passphraseSubmit, #key, #keyLabel {
    visibility: hidden;
}
#passphrase, #key {
    width: 150px;
}
#teamID {
    width: 50px;
}
.submit {
    cursor: pointer;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;
}

#footerText {
    color: #41FF00;
    position: absolute;
    font-size: 10px;
    right: 20px;
    bottom: 15px;
}

#tree, #snowflake {
    visibility: hidden;
}
#tree {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 8px;
    transform: rotate(-20deg);
    animation: treeAnim 2s infinite;
}
#star {
    color: #ffffff;
    animation: starAnim 1s infinite;
}
#treeInner {
    color: #41FF00;
}
#snowflake {
    color: #ffffff;
    position: absolute;
    top: 10%;
    right: 7%;
    font-size: 5px;
    transform: rotate(20deg);
    animation: snowflakeAnim 2s infinite;
}

@keyframes snowflakeAnim {
    0% {
        color: #266bff;
        transform: rotate(-20deg);
    }
    49% {
        color: #266bff;
        transform: rotate(-20deg);
    }
    50% {
        color: #ffffff;
        transform: rotate(0deg);
    }
    99% {
        color: #ffffff;
        transform: rotate(0deg);
    }
    100% {
        color: #266bff;
        transform: rotate(20deg);
    }
}

@keyframes starAnim {
    0% {
        color: #f7ff0c;
    }
    33% {
        color: #f7ff0c;
    }
    34% {
        color: #ff2626;
    }
    66% {
        color: #ff2626;
    }
    67% {
        color: #ffffff;
    }
    100% {
        color: #ffffff;
    }
}

@keyframes treeAnim {
    0% {
        transform: rotate(30deg);
    }
    49% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    99% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

#success {
    z-index: -1;
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
#mainMsg {
    color: #41FF00;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
#subText {
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff;
}
#subText2 {
    font-size: 12px;
    color: #ffffff;
}
#subTextWon {
    font-size: 12px;
    color: #41FF00;
    font-weight: 600;
    text-decoration: underline;
}
#retry {
    cursor: pointer;
    color: #ff2626;
    font-size: 12px;
    visibility: hidden;
}

@media (max-width: 600px){
    #tree {
        top: 70%;
        left: -5%;
        font-size: 6px;
    }
    #snowflake {
        top: 15%;
        right: 5%;
        font-size: 3px;
    }
    #teamIDForm {
        font-size: 12px;
        width: 300px;
    }
    #passphrase, #key {
        width: 60px;
    }
    #teamID {
        width: 40px;
    }
    #success {
        width: 300px;
    }
}
