* {
    margin: 0;
    padding: 0;
    font-family: Consolas,monaco,monospace; 
    color: #41FF00;;
}
body {
    height: 100vh;
    background-color: rgb(12, 12, 12);
}
.outer {
    position: relative;
}
.crt {
    position: relative;
    height: 100%;
    width: 100%;
}
#loader {
    font-size: 12px;
}
.initialTexts {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 8px;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.welcome {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

input[type=text] {
    outline: none;
    width: 50px;
    border: none;
    border-bottom: 1px dashed #41FF00;
    background: none;
    padding: 2px;
}
input[type=text]:focus {
    border-bottom: 1px dashed #41FF00;
}
#teamIDForm {
    visibility: hidden;
}
.submit {
    cursor: pointer;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;
}

#footerText {
    position: absolute;
    font-size: 10px;
    right: 20px;
    bottom: 15px;
}